<div class="bg-gradient-to-r from-indigo-500 to-purple-600">
    <mat-toolbar color="primary" class="w-full shadow-lg">
      <div class="flex justify-between w-full px-8">
        <button mat-button routerLink="/animations" routerLinkActive="active" class="text-white font-semibold hover:text-gray-200">
          Animations
        </button>
        <button mat-button routerLink="/material-ui-demo" routerLinkActive="active" class="text-white font-semibold hover:text-gray-200">
          Material UI Demo
        </button>
      </div>
    </mat-toolbar>
  </div>
  
  <!-- This is where the routed components will be displayed -->
  <router-outlet></router-outlet>
  